<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>MINIMARKET</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../../static/css/styles.css" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/contact.css">

</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#!">Minimarket</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link" href="/">Acasa</a></li>
                <li class="nav-item"><a class="nav-link active" href="/contact">Contact</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- Section-->
<section class="contact">
    <div class="content">
        <h2>Contacteaza-ne</h2>
        <p>Nu ezita să contactezi Serviciul Cliențil la adresa de email minimarket.@mail.ro
            Iti vom raspunde in mai putin de 24 de ore telefonic sau prin e-mail.</p>
    </div>
    <div class="container">
        <div class="contactInfo">
            <div class="box">
                <div class="box">
                    <div class="icon">
                        <i class="fa fa-map-pin" aria-hidden="true"></i>
                        <div class="text">
                            <h3>Adresa</h3>
                            <p>Drumul Valea Cricovului, 236 <br>Bucuresti, sector 6 <br>55060</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                        <div class="text">
                            <h3>Telefon</h3>
                            <p>0123456789</p>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div class="text">
                            <h3>Email</h3>
                            <p>minimarket.@mail.ro</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contactForm">
                <form>
                    <h2>Trimite mesaj</h2>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Nume Prenume</span>
                    </div>
                    <div class="inputBox">
                        <input type="text" name="" required="required">
                        <span>Email</span>
                    </div>
                    <div class="inputBox">
                        <textarea required="required"></textarea>
                        <span>Scrie mesajul tau aici...</span>
                    </div>
                    <div class="inputBox">
                        <input type="submit" name="" value="Trimite">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">&copy; Minimarket 2023</p></div>
</footer>
</body>
</html>

